<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>
    <h1>About Me</h1>
    <p>Hello! My name is Reymel Mislang, a 3rd-year Information Technology student. 
    <p>I am passionate about web development, and I enjoy working with technologies like PHP, Node.js, and Express. </p>
    <p>Currently, I am working on building a project called 'Limited Edition Merch Store,' which is a platform for selling exclusive merchandise.</p>  
    <p>I aim to develop innovative solutions that make a difference in people's lives, like creating my new website to track GCash inventory. </p>
    <p>It's an exciting challenge, and I hope to streamline the way people manage and monitor their transactions using this platform.</p>
    
        <br>
    <a href="/">Home</a> | <a href="/contact">Contact Me</a>
</body>
</html>
